:root {
  --display-f: flex;
  --ideal-width: 40ch;
  --ideal-padding: 1rem;
  --primary-clr: rgb(84, 112, 86);
  --heading-clr: rgb(44, 12, 160);
  --radius: 1em;
}

section {
  display: var(--display-f);
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  border-radius: var(--radius);
  width: 85%;
  margin: 14vh auto;
}
.column1 {
  display: flex;
}
.column2 {
  display: flex;
}
.col {
  max-width: var(--ideal-width);
  margin: var(--ideal-padding);
  background-color: var(--primary-clr);
  border-radius: var(--radius);
}
h1,
h2 {
  color: var(--heading-clr);
}
